.App {

  height:  100%;
}

.text:hover {
  cursor: pointer ;
}

.image {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Motiva';
  src: local('Motiva-Regular'), url("./Motiva-Regular.otf") format('otf');
}
